@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
  background-color: lightseagreen;  
  height: 100px;  
  font-family: 'Rubik Vinyl', cursive;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board-container{
    background-color: lightcoral;
    display: grid;
    grid-template-columns: repeat(3,110px);
    grid-template-rows: repeat(3,110px);
    justify-content: center;
    padding: 20px;
}

.game-tile{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: 400;
}

.game-tile:hover{
    background-color: lightsalmon;
    cursor: pointer;
}