@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
  background-color: lightseagreen;  
  height: 100px;  
  font-family: 'Rubik Vinyl', cursive;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-status{
    background-color: lightcoral;
    height: 8
    0px;
    padding: 20px;
    font-size: 46px;
    text-align: center;
}

.game-board-container{
    background-color: lightcoral;
    display: grid;
    grid-template-columns: repeat(3,110px);
    grid-template-rows: repeat(3,110px);
    justify-content: center;
    padding: 20px;
}

.game-tile{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: 400;
}

.game-tile:hover{
    background-color: lightsalmon;
    cursor: pointer;
}

.restart-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: lightcoral;
}

.restart{
    height: 70px;
    width: 125px;
    font-size: larger;
    font-weight: 800;
    border-radius: 10px;
}

.restart:hover{
    cursor: pointer;
}

footer{
    background-color: lightcoral;
    padding: 10px;
    padding-top: 50px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.fa-github{
    color: black;
}
